.content {
    padding: 40px;
}

.google-logo {
    width: 200px;
    margin-left: 1100px;
    margin-top: 300px;
}


.search {
    margin-left: 1050px;
    width: 300px
}

.submit {
    margin-left: 1100px;
}